a{
    color:darkgray;
    font-size: 15px;
    }
    #hello{
      color: dodgerblue;
      font-size: 20px;
      font-weight: bold;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }