<div class="container my-5">
    <footer class="text-white text-center text-lg-start bg-dark">
      <div class="container p-4">
        <div class="row mt-4">
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4" id="hello">Animovative Hub</h5>
            <p>
                Animovative Hub is your go-to source for the latest anime and movie news and reviews.
                Our website is dedicated to bringing you the best content, including the latest releases, 
               user reviews, and industry news. Stay up-to-date with the latest trends and join our community 
               of anime and movie enthusiasts.
            </p>
            <p>
                Follow us on social media to get the latest updates, 
                and feel free to contact us with any questions or feedback. Thank you for visiting Animovative Hub!
            </p>
         
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4" id="hello">About</h5>
            <ul class="fa-ul" style="margin-left: 1.65em;">
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Ben Aoun, 00-9120, Tunis</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">rayenhafsaoui77@gmail.com</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+21677777777</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

                    <div >
                      <h5 class="text-uppercase mb-4" id="hello">Connect  </h5>
                      <ul class="list-group">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                          <a href="https://www.linkedin.com"target="_blank"> <i class="fab fa-linkedin socialmedia"> LinkedIn</i></a>
                        </li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                          <a href="https://twitter.com"target="_blank"> <i class="fab fa-twitter socialmedia"> Twitter</i></a>       
                        </li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                          <a href="https://github.com" target="_blank" ><i class="fab fa-github socialmedia"> Github</i></a>  
                        </li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="https://www.facebook.com" target="_blank" ><i class="fab fa-facebook socialmedia"> Facebook</i></a>
                        </li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                          <a href="https://www.instagram.com" target="_blank" ><i class="fab fa-instagram socialmedia"> Instagram</i></a>
                          </li>
                          <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://www.youtube.com" target="_blank" ><i class="fab fa-youtube socialmedia"> Youtube</i></a>
                            </li>
                      </ul>
                      </div>
                </div>
              </div>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright : <a class="text-white">HafsawyProject.com </a>| All rights reserved
      </div>
    </footer> 
  </div>  