<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body class="general"> 
  <div class="stpage">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
        <div class="container">
          <a class="navbar-brand" routerLink="/home" >
            <div ><span style="color: #000000;" >ANIMOVATIVE </span><span style="color: limegreen;">HUB</span></div>
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="fa fa-home nav-link" routerLink="/home" >HOME</a>
              </li>
              <li class="nav-item">
                <a class="fa fa-tv nav-link"  routerLink="/anime" >ANIME</a>
              </li>
              <li class="nav-item">
                <a class="fa fa-tv nav-link" routerLink="/series" >TV SERIES</a>
              </li>
            </ul>
          </div>
        </div>
        <ng-container *ngIf="MydataService.isLoggedIn">
          <mat-menu #userMenu="matMenu" class="bootstrap-dropdown "yPosition="above">
            <button mat-menu-item>
              <a routerLink="/profile">
              <mat-icon>person</mat-icon>
              <span >Profile</span>
            </a>
            </button>
            <button mat-menu-item>
              <a href="/anime" class="links">
              <mat-icon>logout</mat-icon>
              <span >Logout</span></a>
            </button>
          </mat-menu>
          <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon>person</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="!MydataService.isLoggedIn">
          <button routerLink="/login"class="btn btn-outline-primary" style="font-weight: bold;"(click)="toggleContent()">Login</button>
          <button routerLink="/signup"class="btn btn-outline-success"style="font-weight: bold;"(click)="toggleContent()">SignUp</button>
        </ng-container>
      </nav>
    </header>
</div>
<div class="setmargin"></div>
<div class="container-fluid">
  <router-outlet ></router-outlet>
  <div class="setmargin"></div>
  <app-news></app-news>
  <app-footer></app-footer>
</div>
</body>

